.metals
.vscode
.stack-work
.venv
.cmake
CMakeFiles
*.dSYM
bin
obj
.bloop
target
project
pkg
node_modules
compack_disk
.gradle
.idea
.kotlin
zig-out
.DS_Store
day14/elixir/result.log
day9/c/compact_disk
day9/c/result.log
day3/cpp/main
